<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyou100.zyVideo.mapper.SpeakerMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyou100.zyVideo.model.Speaker" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="speaker_name" property="speakerName" jdbcType="VARCHAR" />
    <result column="speaker_job" property="speakerJob" jdbcType="VARCHAR" />
    <result column="speaker_head_url" property="speakerHeadUrl" jdbcType="VARCHAR" />
    <result column="speaker_descr" property="speakerDescr" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, speaker_name, speaker_job, speaker_head_url, speaker_descr, insert_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhiyou100.zyVideo.model.SpeakerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from speaker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from speaker
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from speaker
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhiyou100.zyVideo.model.SpeakerExample" >
    delete from speaker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhiyou100.zyVideo.model.Speaker" >
    insert into speaker (id, speaker_name, speaker_job, 
      speaker_head_url, speaker_descr, insert_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{speakerName,jdbcType=VARCHAR}, #{speakerJob,jdbcType=VARCHAR}, 
      #{speakerHeadUrl,jdbcType=VARCHAR}, #{speakerDescr,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiyou100.zyVideo.model.Speaker" >
    insert into speaker
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="speakerName != null" >
        speaker_name,
      </if>
      <if test="speakerJob != null" >
        speaker_job,
      </if>
      <if test="speakerHeadUrl != null" >
        speaker_head_url,
      </if>
      <if test="speakerDescr != null" >
        speaker_descr,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="speakerName != null" >
        #{speakerName,jdbcType=VARCHAR},
      </if>
      <if test="speakerJob != null" >
        #{speakerJob,jdbcType=VARCHAR},
      </if>
      <if test="speakerHeadUrl != null" >
        #{speakerHeadUrl,jdbcType=VARCHAR},
      </if>
      <if test="speakerDescr != null" >
        #{speakerDescr,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhiyou100.zyVideo.model.SpeakerExample" resultType="java.lang.Integer" >
    select count(*) from speaker
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update speaker
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.speakerName != null" >
        speaker_name = #{record.speakerName,jdbcType=VARCHAR},
      </if>
      <if test="record.speakerJob != null" >
        speaker_job = #{record.speakerJob,jdbcType=VARCHAR},
      </if>
      <if test="record.speakerHeadUrl != null" >
        speaker_head_url = #{record.speakerHeadUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.speakerDescr != null" >
        speaker_descr = #{record.speakerDescr,jdbcType=VARCHAR},
      </if>
      <if test="record.insertTime != null" >
        insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update speaker
    set id = #{record.id,jdbcType=INTEGER},
      speaker_name = #{record.speakerName,jdbcType=VARCHAR},
      speaker_job = #{record.speakerJob,jdbcType=VARCHAR},
      speaker_head_url = #{record.speakerHeadUrl,jdbcType=VARCHAR},
      speaker_descr = #{record.speakerDescr,jdbcType=VARCHAR},
      insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiyou100.zyVideo.model.Speaker" >
    update speaker
    <set >
      <if test="speakerName != null" >
        speaker_name = #{speakerName,jdbcType=VARCHAR},
      </if>
      <if test="speakerJob != null" >
        speaker_job = #{speakerJob,jdbcType=VARCHAR},
      </if>
      <if test="speakerHeadUrl != null" >
        speaker_head_url = #{speakerHeadUrl,jdbcType=VARCHAR},
      </if>
      <if test="speakerDescr != null" >
        speaker_descr = #{speakerDescr,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiyou100.zyVideo.model.Speaker" >
    update speaker
    set speaker_name = #{speakerName,jdbcType=VARCHAR},
      speaker_job = #{speakerJob,jdbcType=VARCHAR},
      speaker_head_url = #{speakerHeadUrl,jdbcType=VARCHAR},
      speaker_descr = #{speakerDescr,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getSpeakers" resultMap="BaseResultMap">
  select * from speaker where speaker_job like '%${job}%' and speaker_name like '%${name}%' limit ${page},5
  </select>
  <select id="getSpeakerCount" resultType="Integer">
  select count(*) from speaker where speaker_job like '%${job}%' and speaker_name like '%${name}%'
  </select>
  
  
</mapper>